<head>
    <title>Fake News Detector | About</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
</head>


<body>
    <div class="NavBar">
        <a href="/"> Home </a>
        <a href="about" style="float:right">About</a>
    </div>

    <div style="padding-left:15px">
        <h1> About Fake News Detector </h1>

        <p>
            This application was built to fulfil the requirements of the CM3070 module. <br>
            Its goal is to help users determine whether an article is misinformation or not. <br>
            If an article is determined to be misinformation, the application will further predict whether the article was written to be satire or not.
        </p>
        <p>
            To use, copy the text of an article and paste it into the text box in the main page. <br>
            After which, submit your query by clicking the <strong>"Check article"</strong> button. <br>
        </p>
        <br>

        <p>
            <strong>Developer name</strong> : Wong Li Xuan <br>
            <strong>UOL Student number</strong> : 190428239
        </p>
    </div>
</body>